<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/feedback">feedback page</a>.
<<<<<<< HEAD
</p>
=======
</p>
>>>>>>> c41798b2b20f2648ec33f0eeaf65dea9abd3ee1b
